.pagination {
    justify-content: center;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        border-right: $border-base;
        border-top: $border-base;
        border-bottom: $border-base;
        min-width: px-to-rem(32px);
        height: px-to-rem(32px);

        &:first-of-type {
            border-left: $border-base;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-of-type {
            border-top-right-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
        
        &.active {
            button,
            button:hover {
                color: $orange;
            }
        }

        &.disabled {
            button {
                opacity: 0.5;
                cursor: auto;

                &:hover {
                    color: $gray-600;
                }
            }
        }

        button {
            color: $gray-600;
            text-decoration: none;
            background: none;
            border: none;
            font-weight: $font-weight-bold;
            transition: color .2s ease-in-out;

            &:hover {
                color: $black;
            }
        }
    }
}